RO en attente de la fin de migration



























































! To add to ublock rules

! Supprimer la popup 'Avant de continuer de Google'",
! https://www.malekal.com/comment-supprimer-la-popup-avant-de-continuer-de-google/
! https://blogmotion.fr/internet/popup-cookie-google-bloquer-18526
! https://gist.github.com/hongar/2a7c416c6d049fb5891a5577a424e56d
! minimum pour vieux pc : https://www.nordicnode.com/remove-the-google-cookie-consent-dialog-with-ublock/
google.*##.jw8mI
google.*##.vUd4jb

! Comment supprimer la popup Connectez-vous à Youtube
! https://www.malekal.com/comment-supprimer-la-popup-connectez-vous-a-youtube/
www.youtube.com###dialog
||www.gstatic.com/youtube/img/promos/growth/dmod_si_horizontal_ver1_240x400.png$image
www.youtube.com##opened
www.youtube.com##.opened

! remove 'more videos' popup by youtube #325 
! https://github.com/udacity/fcnd-issue-reports/issues/325#issuecomment-431747308
##.ytp-pause-overlay
www.youtube.com##.ytp-scroll-min.ytp-pause-overlay
